body {
    margin: 0;
}

.bodyEnd{
    margin: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    text-align: center;
    background: url(background.jpg) no-repeat bottom center scroll;
    background-repeat: repeat-x;
    animation: slideright 2200s infinite linear;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

.dino{
    width: 89px;
    height: 77px;
    background-image: url(dino.gif);
    transform: scaleX(-1);
    position: absolute;
    bottom: 110px;
    left: 70px;
}

.cactus{
    position: absolute;
    width: 253px;
    height: 100px;
    bottom: 110px;
    transform: scaleX(-1);
    background-image: url(cactus.gif);
}

.game-over{
    text-align: center;
    color: #666666;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

.score{
    text-align: right;
    color: #666666;
    margin-top: 200px;
    font-family: Arial, sans-serif;
    font-size: 25pt;
    padding-right: 100px;
}

.finalScore{
    text-align: center;
    color: #666666;
    margin-top: 100px;
    font-family: Arial, sans-serif;
    font-size: 20pt;
}

@keyframes slideright{
    from {
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}

.background{
    position: absolute;
    bottom: 0;
    background-image: url(corredor.png);
    background-repeat: repeat-x;
    animation: slideright 1100s infinite linear;
    width: 100%;
    height: 176px;
    bottom: 0;
}

.backgroundTop{
    position: absolute;
    bottom: 0;
    background-image: url(background.jpg);
    background-repeat: repeat-x;
    animation: slideright 2200s infinite linear;
    width: 100%;
    height: 100%;
}